.arrow{
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  height: 9px;
  width: 9px;
  background: #000;
}

.breadcrumb li:not(:last-child)::after{
  content: '>';
  padding: 0 8px;
}

.block-title::after{
  top: 0;
  height: 0;
  width: 2px;
  content: "";
  left: 100%;
  display: block;
  position: absolute;
  border-style: solid;
  border-top-color: #4E9CD6;
  border-width: 0 16px 24px 0;
  border-bottom-color: #4E9CD6;
  border-left-color: transparent;
  border-right-color: transparent;
}

.pagination li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 30px;
  font-size: 20px;
  color: #000;
}

.pagination li.activePage a{
  background-color: #D9D9D9;
  font-weight: 500;
}